<p>header works!</p>
<mat-toolbar color="primary">

  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <mat-icon class="icon">home</mat-icon>
      <span><i>Olivia's Aesthetics</i></span>
    </div>

    <span class="example-spacer"> </span>

    <div class="w-30 toolbar no-select">
      <mat-icon class="icon">call</mat-icon>
      <i>096 388 48 82</i>
    </div>

    <span class="example-spacer"> </span>


    <div class="toolbar no-select">
      <button class="button" mat-flat-button routerLink="">Головна</button>
      <button class="button" mat-flat-button routerLink="care">Лікуємо</button>
      <button class="button" mat-flat-button routerLink="massage-service">Масаж</button>
      <button class="button" mat-flat-button routerLink="price">Прайс</button>
      <button class="button" mat-flat-button routerLink="contacts">Контакти</button>
    </div>

    <div class="toolbar no-select">
      <mat-icon>delete</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
