<section class="text-sections">
  <h1><b>З вартістю послуг по оздоровленню вашого тіла ви можете ознайомитися з нашого прайсу, а також ви можете
    замовити
    подарунковий скртифікат для дорогих вам людей.</b></h1>
</section>

<mat-card class="style">

      <mat-card-content class="center-img">
        <img src="../assets/img/price/price.jpg">
      </mat-card-content>

      <mat-card-content class="center-img-certificate">
        <img src="../assets/img/price/certificate.jpg">
      </mat-card-content>
</mat-card>

